<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <style>
    body{
        background-color: azure;
        font-family: 'Anton', sans-serif;
    }
    #outer
    {
      width: 50%;
    height: 300px;
    border: 3px solid #39414e36;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    }
    #title
    {
      margin-left: 12px;
    }
    #but
    {
      margin-top: 120px;
    }

    
    </style>
    <script>
        function goBack() {
          window.history.back();
        }
        </script>
</head>
<body>
  <div id="outer">
    <h4>
      Search Results:
    </h4>
        <table>
                <% for(var i=0; i < arr.length; i++) { %>
                   <tr id="r">
                     <td id="title"><%= arr[i]._source.title %>===================================></td>
                     <td id="url"><a href="<%= arr[i]._source.url %>"><button class="btn btn-primary">Link</button></a></td>
                   </tr>
                <% } %>
                </table>
                <button class="btn btn-success" id="but" onclick="goBack()">Go Back</button>
  </div>              
</body>
</html>